@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body{
    height: 100vh;
    width: 100vw;
    font-family: 'Sarala', sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15vh;
    background-image: url(../img/pexels-oleksandr-p-1227513.jpg);
    background-attachment: fixed;
    background-position: center bottom;
    background-size: cover;
    padding-bottom: 20vh;    
}

header > div > button{
    width: 30px;
    height: 30px;
    background-color: rgb(53, 53, 53);
    border: none;
    border-radius: 3px;
    cursor: pointer;

    transition:  background-color, border-radius;
    transition-duration: 2s;
}

.pert{
    animation: buttom_ani 0.5s alternate infinite;
    border-radius: 50%;
    background-color: #756a6a;
}

header > .navega{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-left: 50px;
}

header > .navega > nav{
    animation: nav_a 2s ease forwards;
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;

    transition-property: display;
    transition-duration: 2s;
}

header > .navega > nav > a{
    text-decoration: none;
    color: #ffff;
    font-size: 13px;
}

header > .navega > img{
    width: 50px;
    margin-right: 25px;
}

header > h1{
    color: #ffffff;
    font-size: 50px;
}

main{
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;

}

.a{
    background-color: rgb(247, 247, 247);
    padding: 15vh;
    border: none;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.678);
    
}

.b{
    display: flex;
    flex-direction: row;
    gap: 9vw;
    background-color: rgb(247, 247, 247);
    padding: 23vh;
    border: none;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.678);
}

#pr{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.circu{
    padding: 60px;
    border: 20px solid black;
    border-radius: 50%;
    margin-top: 25px;
    border-top: 20px solid transparent;
    border-left: 15px solid transparent;
}

.circu > p{
    font-size: 30px;
    font-weight: bolder;
}

#pr > h1{
    width: 11vw;
}

#pb{
    display: flex;
    flex-direction: column;
}

#pb > p > strong{
    font-size: 35px;
}

#pb > img{
    width: 10vw;
    transform: translateX(5vw);
}

footer{
    display: flex;
    justify-content: center;
    background-color: black;
    color: #ffff;
    padding: 15vh;
    margin-top: 20px;
}

footer > h3{
    transform: translateY(50px);
}

@keyframes buttom_ani{
    0%{
        transform: translateY(-7px);
    }

    100%{
        transform: translateX(0px);
    }
}

@keyframes nav_a {
    0%{
        transform: translateX(-50px);
        opacity: 0;
    }

    50%{
        transform: translateX(-20px);
        opacity: 0;
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}